.customBtn{
    border: none;
    padding: 12px 30px;
    background-color: #24BEE0;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
    white-space: nowrap;
}

@media (max-width: 480px) {
    .customBtn {
        padding: 10px 22px;
        font-size: 14px;
        gap: 10px;
    }
}

