.box{
    border-radius: 90px 10px 90px 10px;
    padding: 50px;
    display: flex;
    width: 100%;
}

.bg1{
    background-color: #AF367B;
}

.bg2{
    background-color: #1B234A;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 20px;
    margin: 40px;
}

.leftTitle{
    font-size: 27px;
}

.headphones{
    transform: rotate(12.8deg);
    height: 200px;
    scale: 150%;
}

.earbuds{
    transform: rotate(23.44deg);
    height: 200px;
    scale: 110%;
}