.container {
    background-color: #AF367B;
    width: 1280px;
    height: 430px;
    border-radius: 5px 5px 150px 5px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.left{
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heroTitle{
    font-size: 55px;
}

.imageDiv{
    transform: rotate(20.5deg);
    margin: 70px;
}

.imageDiv img{
    position: relative;
    width: 280px;
    z-index: 2;
}

.glow{
    position: absolute;
    width: 260px;
    height: 260px;
    background: rgba(255,255,255,0.45);
    border-radius: 50%;
    filter: blur(70px);
    z-index: 1;
}