.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.logo {
    width: 14;
    height: 19;
    top: 64px;
    left: 80px;

}

.text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0%;
}