@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
    background-color: #fafafa;
    background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100%;
    font-family: "Inter", sans-serif;
}

.menu {
    min-width: 500px;
    background-color: #ffffff;
    height: 72px;
    padding: 0 32px;
    box-shadow: 0px 0px 5px;
    margin: 40px;
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 100px;
}

.tree {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.node {
    position: relative;
    box-sizing: border-box;
    min-width: 150px;
}
.node-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
    color: #21272a;
}

.option {
    color: #8a8f98;
    padding: 5px;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
}

.option:hover {
    color: #21272a;
}


.node-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 55px;
    padding: 10px 22px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px;
    box-sizing: border-box;
    width: 250px;
}

.children {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 40px;
}

.children .node {
    font-size: 14px;
    padding: 8px 16px;
}

.submenu {
    display: flex;
    gap: 6px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.edit, .del {
    padding: 10px;
    cursor: pointer;
    color: #6b7280;
    border-radius: 10px;
    font-size: 12px;
}

.edit:hover {
    background-color: #eef2ff;
    color: #4147d5;
}

.del:hover {
    background-color: #fdecec;
    color: #e02424;
}

.hidden {
    display: none;
}

#input-name {
    border: none;
    outline: none;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    padding: 10px;
    width: 220px;
}

#add-btn, #save-btn {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(106, 204, 106);
    cursor: pointer;
}

.select-node {
    padding: 10px;
    border: none;
    background-color: #c7c7c7;
    outline: none;
    border-radius: 10px;
    width: 100px;
}

#select-chain{
    display: flex;
    gap: 10px;
}