.imgContainer{
    display: block;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
    padding: 0 60px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .imgContainer {
        padding: 0 32px;
    }
}

@media (max-width: 950px) {
    .imgContainer {
        padding: 0 20px;
        margin: 24px auto;
    }
}

@media (max-width: 500px) {
    .imgContainer {
        padding: 0 12px;
        margin: 20px auto;
    }
}
