.products{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 100px;
}

.header h4, .header p{
    color: #737373;
    text-align: center;
}

.loadBtn{
    color: #23A6F0;
    border: 1px solid #23A6F0;
}

.service{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 315px;
    padding: 35px 40px;
    align-items: center;
    text-align: center;
}

.service img{
    height: 71px;
    width: 71px;
}

.service div{
    color: #737373;
    font-weight: 400;
    font-size: 14px;
}

.sersvice h3{
    color: #252B42;
    font-weight: 700;
    font-size: 24px;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

@media (max-width: 1250px) {
    .products{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 800px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
    .services{
        display: flex;
    }
}