.container {
    background-color: #222121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px;
}

.timer {
    width: 300px;
    height: 70px;
    background-color: #F2F5FF;
    color: black;
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

.timerCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
}

.timerCol:last-child {
    border-right: none;
}

.title {
    font-size: x-large;
    font-weight: 500;
    justify-self: flex-start;
}

.timerDigits {
    font-size: larger;
}